In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from flask_sqlalchemy import SQLAlchemy
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy_utils import create_database, database_exists
import pandas as pd

In [2]:
username = "root"
password = "root" 
db_name = "yelp_mexican_food"
db_connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [3]:
final_df = pd.read_csv(r'C:\Users\Michael\OneDrive\Desktop\Mexican Food\final_results_fresno_mexican.csv')
final_df.head()

,alias,name,is_closed,review_count,categories,rating,transactions,price,location,phone,display_phone
0,taqueria-don-pepe-fresno-2,Taqueria Don Pepe,False,655,"alias: mexican, title: Mexican",4.5,['delivery'],$,"address1: 4582 N Blackstone Ave, address2: , a...",1.559224e+10,(559) 224-1431
1,cocina-village-fresno,Cocina Village,False,308,"alias: mexican, title: Mexican",4.5,"['pickup', 'delivery']",$$,"address1: 3050 W Shaw Ave, address2: Ste 111, ...",1.559840e+10,(559) 840-1663
2,la-enchilada-fresno,La Enchilada,False,103,"alias: mexican, title: Mexican",4.5,"['pickup', 'delivery']",$,"address1: 3848 N Blackstone Ave, address2: , a...",1.559227e+10,(559) 227-0244
3,market-cocina-fresno,Market Cocina,False,1,"alias: mexican, title: Mexican",5.0,['delivery'],NaN,"address1: 650 W Shaw Ave, address2: None, addr...",1.559241e+10,(559) 241-0300
4,sabor-cocina-latina-and-bar-fresno,Sabor Cocina Latina & Bar,False,361,"alias: latin, title: Latin American, alias: ne...",4.5,['delivery'],$$,"address1: 7845 N Palm Ave, address2: Ste 104, ...",1.559375e+10,(559) 375-1644

In [4]:
final_df.shape

(491, 11)

In [5]:
engine = create_engine(db_connection)
engine

Engine(mysql+pymysql://root:***@localhost/yelp_mexican_food)

In [6]:
database_exists(db_connection)

True

In [7]:
if database_exists(db_connection) == False:
  create_database(db_connection)
else:
  print('The database already exists')

The database already exists

In [8]:
final_df.to_sql('final_df', engine, if_exists = 'replace')

491